@import './styles/tokens.css';

* {
  box-sizing: border-box;
}

:root {
  font: 15px/145% var(--font-sans);
  color-scheme: light;
  color: var(--color-text);
  background: var(--color-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
